@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bdw {
    border-width: 0px;

}


.icon {
    font-size: 30px;
    color: #526894;
}

.bgcolor {
    background-image: linear-gradient(to right, #200122, #6f0000);

    padding: 30px;
}

.text {
    border-radius: 3px;
    border-color: white;
    border-width: 0px;
    border: none;
    height: 40px;
    width: 90vh;
}

.button {
    background-color: #526894;
    color: white;
    height: 40px;
    padding: 10px;
    border-radius: 4px;
    border-width: 0px;
}

.button:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    transform: translate(0px, -3px);
    transition: .6s;
    background-color: #AF7AC5;
}

.bold {
    font-size: 18px;
    font-weight: bold;
    color: #526894;
}

.ul {
    list-style: none;
    color: black;
    margin: 0px;
}

.li {
    font-size: 12px;
}

.border {

    height: 45px;
    border-color: #526894;
    width: 45vh;
    border-radius: 50px;
    border-width: 5px;
    border-style: solid;
    align-items: center;
}

.border-1 {

    height: 45px;
    border-color: #526894;
    width: 30vh;
    border-radius: 50px;
    border-width: 5px;
    border-style: solid;
    align-items: center;
}


/*----  Main Style  ----*/
#cards_landscape_wrap-2 {
    background: #F7F9F9;
    margin-left: 30px;
    margin-right: 30px;
}

#cards_landscape_wrap-2 .container {
    padding-top: 80px;
    padding-bottom: 100px;
}

#cards_landscape_wrap-2 a {
    text-decoration: none;
    outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
    border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box {
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    width: 100%;
    height: 200px;
}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
    opacity: 0.7;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

#cards_landscape_wrap-2 .card-flyer .text-box {
    text-align: center;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
    padding: 30px 18px;
}

#cards_landscape_wrap-2 .card-flyer {
    background: #FFFFFF;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}

#cards_landscape_wrap-2 .card-flyer:hover {
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
}

#cards_landscape_wrap-2 .card-flyer .text-box p {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
}

#cards_landscape_wrap-2 .card-flyer .text-box h6 {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 1px;
    color: #00acc1;
}

.star-rating {
    line-height: 32px;
    font-size: 1.25em;
}

.star-rating .fa-star {
    color: yellow;
}