@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bgcolor {
    background-color: #F7F9F9;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 40px;

}

h3 {
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding-top: 10px;
}

p {
    text-align: center;
    color: #b2bec3;
    padding: 0 8px;
}

.badge {
    background-color: #f7941d;
    color: white;
    padding-top: 4px;
    padding-right: 15px;
    padding-bottom: 4px;
    padding-left: 15px;
    font-size: 15px;
    border-radius: 16px;
    margin-right: 8px;
    margin-bottom: 6px;
}

.card- {
    background-color: #ffffff;
    text-align:	center;
    border-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
}

.card-:hover {
    background: #E8DAEF;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
}

button {
    text-align: center;
    font-size: 15px;
    color: #fff;
    width: 100%;
    padding: 10px;
    border: 0px;
    outline: none;
    cursor: pointer;
    margin-top: 1px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #003366;
}

button:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    transform: translate(0px, -3px);
    transition: .6s;
    background-color: #ffffff;
	color: black;
}

h6 {
    font-size: 16px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

li {
    padding: 5px;
}

.fa {
    color: #ff9f43;
    font-size: 15px;
    transition: .4s;
}

.fa:hover {
    transform: scale(1.3);
    transition: .6s;
}

img {
    width: 70px;
    height: 70px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
